:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app__menu-sidebar {
  display: block;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.app__header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition:
    all 0.3s,
    padding 0s;
}

.app__trigger:hover {
  color: #1890ff;
}

.app__sidebar-logo {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0 1rem;
  transition: all 0.3s;
}

.app__sidebar-logo a {
  display: inline-flex;
  align-items: center;
  height: 64px;
  color: #fff;
}

.app__sidebar-logo img {
  display: block;
  width: 178px;
  height: auto;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app__header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

nz-layout {
  max-height: 100vh;
  height: 100vh;
}

nz-content {
  margin: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.app__inner-content {
  padding: 24px;
  background: #fff;
  overflow: auto;
  position: relative;

  &.loading {
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      z-index: 9999;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.7);
    }
  }
}

.app__version {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: #888;
}
