<nz-skeleton
  [nzTitle]="false"
  [nzActive]="true"
  [nzParagraph]="{
    rows: 1,
    width: ['40%'],
  }"
/>

<nz-skeleton
  [nzTitle]="false"
  [nzActive]="true"
  [nzParagraph]="{
    rows: baseRows.length,
    width: baseRows,
  }"
/>

<nz-skeleton
  [nzTitle]="false"
  [nzActive]="true"
  [nzParagraph]="{
    rows: baseRows.length,
    width: baseRows,
  }"
/>

<nz-skeleton
  [nzTitle]="false"
  [nzActive]="true"
  [nzParagraph]="{
    rows: baseRows.length,
    width: baseRows,
  }"
/>

<nz-skeleton
  [nzTitle]="false"
  [nzActive]="true"
  [nzParagraph]="{
    rows: baseRows.length,
    width: baseRows,
  }"
/>

<nz-skeleton
  [nzTitle]="false"
  [nzActive]="true"
  [nzParagraph]="{
    rows: baseRows.length,
    width: baseRows,
  }"
/>

<nz-skeleton
  [nzTitle]="false"
  [nzActive]="true"
  [nzParagraph]="{
    rows: baseRows.length,
    width: baseRows,
  }"
/>

<nz-skeleton
  [nzTitle]="false"
  [nzActive]="true"
  [nzParagraph]="{
    rows: baseRows.length,
    width: baseRows,
  }"
/>
